<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<div class="footer-style-2 ptb--60 bg-color-white">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="inner text-center">

                    <div class="logo logo-dark">
                        <a href="/">
                            <img src="/assets/images/logo/logo-ur-blue.png" alt="Université de La Réunion">
                        </a>
                    </div>

                    <div class="logo d-none logo-light">
                        <a href="/">
                            <img src="https://www.univ-reunion.fr/wp-content/themes/univ974/assets/logos/logo-ur-blanc.svg" alt="Université de La Réunion">
                        </a>
                    </div>

                    {# <div class="text mt--20">
                        <p>© 2025 <a target="_blank" href="https://www.viceversa.re">Viceversa</a>. All Rights Reserved.</p>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</div>
