<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>

    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo logo-dark">
                            <a href="/">
                                {# <img src="/assets/images/logo/logo.png" alt="Université de La Réunion"> #}
                                <img src="https://www.univ-reunion.fr/wp-content/themes/univ974/assets/logos/logo-ur.svg" alt="Université de La Réunion">
                            </a>
                        </div>
                        <div class="logo d-none logo-light">
                            <a href="/">
                                <img src="https://www.univ-reunion.fr/wp-content/themes/univ974/assets/logos/logo-ur-blanc.svg" alt="Université de La Réunion">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="has-menu-child-item position-static">
                                <a href="/">Accueil</a>
                            </li>
                            <li class="has-menu-child-item position-static">
                                <a href="#">Test</a>
                            </li>
                            <li class="has-menu-child-item position-static">
                                <a href="#">Test</a>
                            </li>
                            <li class="has-menu-child-item position-static">
                                <a href="#">Test</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-right">

                    <!-- Navbar Icons -->
                    <ul class="quick-access">

                        <li class="account-access rbt-user-wrapper d-none d-xl-block">
                            <a href="#"><i class="feather-user"></i>Mon Compte</a>
                            <div class="rbt-user-menu-list-wrapper">
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img src="/assets/images/team/avatar.jpg" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name">Samuel</span>
                                            <a class="rbt-btn-link color-primary" href="#">Test</a>
                                        </div>
                                    </div>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="#">
                                                <i class="feather-home"></i>
                                                <span>My Dashboard</span>
                                            </a>
                                        </li>
                                        {# <li>
                                            <a href="#">
                                                <i class="feather-bookmark"></i>
                                                <span>Bookmark</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="instructor-enrolled-courses.html">
                                                <i class="feather-shopping-bag"></i>
                                                <span>Enrolled Courses</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="instructor-wishlist.html">
                                                <i class="feather-heart"></i>
                                                <span>Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather-star"></i>
                                                <span>Reviews</span>
                                            </a>
                                        </li> #}
                                        {# <li>
                                            <a href="instructor-my-quiz-attempts.html">
                                                <i class="feather-list"></i>
                                                <span>My Quiz Attempts</span>
                                            </a>
                                        </li> #}
                                        <li>
                                            <a href="#">
                                                <i class="feather-clock"></i>
                                                <span>Test</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather-message-square"></i>
                                                <span>Test</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="mt--10 mb--10">

                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="#">
                                                <i class="feather-book-open"></i>
                                                <span>test</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <hr class="mt--10 mb--10">

                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="instructor-settings.html">
                                                <i class="feather-settings"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="feather-log-out"></i>
                                                <span>Déconnexion</span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>

                        <li class="access-icon rbt-user-wrapper d-block d-xl-none">
                            <a class="rbt-round-btn" href="#"><i class="feather-user"></i></a>
                            <div class="rbt-user-menu-list-wrapper">
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img src="/assets/images/team/avatar.jpg" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name">Samuel</span>
                                            <a class="rbt-btn-link color-primary" href="#">View Profile</a>
                                        </div>
                                    </div>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="#">
                                                <i class="feather-home"></i>
                                                <span>My Dashboard</span>
                                            </a>
                                        </li>
                                        {# <li>
                                            <a href="#">
                                                <i class="feather-bookmark"></i>
                                                <span>Bookmark</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="instructor-enrolled-courses.html">
                                                <i class="feather-shopping-bag"></i>
                                                <span>Enrolled Courses</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="instructor-wishlist.html">
                                                <i class="feather-heart"></i>
                                                <span>Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="instructor-reviews.html">
                                                <i class="feather-star"></i>
                                                <span>Reviews</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="instructor-my-quiz-attempts.html">
                                                <i class="feather-list"></i>
                                                <span>My Quiz Attempts</span>
                                            </a>
                                        </li> #}
                                        <li>
                                            <a href="#">
                                                <i class="feather-clock"></i>
                                                <span>Test</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather-message-square"></i>
                                                <span>Test</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="mt--10 mb--10">
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="#">
                                                <i class="feather-book-open"></i>
                                                <span>Test</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="mt--10 mb--10">
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="#">
                                                <i class="feather-settings"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="feather-log-out"></i>
                                                <span>Déconnexion</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->

                </div>
            </div>
        </div>

    </div>

    <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
</header>

<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <div class="logo logo-dark">
                        <a href="/">
                            <img src="https://www.univ-reunion.fr/wp-content/themes/univ974/assets/logos/logo-ur.svg" alt="Université de La Réunion">
                        </a>
                    </div>

                    <div class="logo d-none logo-light">
                        <a href="/">
                            <img src="https://www.univ-reunion.fr/wp-content/themes/univ974/assets/logos/logo-ur.svg" alt="Université de La Réunion">
                        </a>
                    </div>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
        </div>

        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="has-menu-child-item position-static no-decolor">
                    <a href="/">Accueil</a>
                </li>
                <li class="has-menu-child-item position-static no-decolor">
                    <a href="/">Test</a>
                </li>
                <li class="has-menu-child-item position-static no-decolor">
                    <a href="/">Test</a>
                </li>
            </ul>
        </nav>

    </div>
</div>

<a class="close_side_menu" href="javascript:void(0);"></a>
