<!-- Start Enrole Course  -->
<div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
    <div class="content">
        <div class="section-title">
            <h4 class="rbt-title-style-3">Historique des demandes</h4>
        </div>

        <div class="rbt-dashboard-table table-responsive mobile-table-750">
            <table class="rbt-table table table-borderless">
                <thead>
                    <tr>
                        <th>N° ID</th>
                        <th>Crée le</th>
                        <th>Titre projet</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                {% for ticketSingle in tickets %}
                    <tr>
                        <th>{{ ticketSingle.id }}</th>
                        <td>{{ ticketSingle.createdAt|date('d/m/Y') }}</td>
                        <td>{{ ticketSingle.title }}</td>
                        <td><span
                                class="rbt-badge-5 bg-color-success-opacity color-success">test</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Enrole Course  -->
